<form type="post" action="" class="authForm">
	<div class="container">
		<p class="center">Jira Login</p>
		<div class="input-container">
			<input type="text" name="username" class="input--opacity input--with-icon top10" placeholder="Username" required value="{{username}}">
			<div class="input-icon icon-user"></div>
		</div>
		<div class="input-container">
			<input type="password" name="password" class="input--opacity input--with-icon top10" placeholder="Password" required value="{{password}}">
			<div class="input-icon icon-key"></div>
		</div>

		<p class="center">Project Informations</p>
		<div class="input-container">
			<input type="url" name="url" class="input__opacity input--with-icon top10" placeholder="Jira URL" required value="{{url}}">
			<div class="input-icon icon-link"></div>
		</div>
		<div class="input-container">
			<input type="text" name="projectid" class="input__opacity input--with-icon top10" placeholder="Project ID" required value="{{projectid}}">
			<div class="input-icon icon-folder-o"></div>
		</div>
	</div>
	<div class="center">
		<button type="submit" class="btn__opacity-primary btn--connect">Continue</button-jira>
	</div>
</form>
<progress class="progress--top" component="Loader" name="progressBar"></progress>