<div class="content-section">
	<h2>Add Story of bug</h2>
	<form type="post" action="" class="storyForm">

		<textarea class="textarea--plain" placeholder="Your story title" name="description" id="storyDescription">asd</textarea>
		<DropdownHelper component collection="Personas" input="#storyDescription"></dropdownHelper>

		<div class="points">
			<input name="business" class="jira-input" placeholder="Business Value">
			<input name="storypoints" class="jira-input" placeholder="Story points">
		</div>

		<textarea class="text-writter" placeholder="Description" name="description"></textarea>

		<div class="content__footer-buttons">
			<button class="btnJira-default btn-jira-cancel">Cancel</button>
			<button class="btnJira-primary btn-jira-add-story btn-submit">Save</button>
		</div>
	</form>
<div>
<rightbar component>
	<PBIinfos component />
	<PBIpictures component />
	<PBIcomments component />
</rightbar>
