label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}


.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom:10px;
  height: $input-height-base;
  padding: 10 0;
  font-size: 13px;
  line-height: 15px;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  transition:border-color ease-in-out .15s;
  transition:box-shadow ease-in-out .15s;
 }

.input__opacity {
  /* Bg: */
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 45px;
  box-sizing:border-box;
  padding: 0 20px;
  width:100%;
  /* Name: */
  font-family: Montserrat-Regular, helvetica;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 50px;
  height:55px;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  transition:background ease-in-out .15s;
  outline:none;
    &:focus{
      background: rgba(255, 255, 255, 0.2); 
    }

  &::-webkit-input-placeholder {
     color: white;
  }

 }

.input--with-icon{text-indent:30px;}

.input-icon{
    color: #ddd;
    position: absolute;
    top: 30px;left: 25px;
    z-index: 2;
}

 .textarea-input{
 	height:150px;
 	margin-bottom:10px;
 }

 .textarea--plain{
  font-size:18px;
  width:100%;
  height:50px;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
 }

.input-container{position:relative;}