

.content-section{
	position:relative;
	z-index:99999;
	top:0; left:0;
	height:100%;
	margin-left:220px;
	width:800px;
	color:#333;
	padding:40px;
	box-sizing:border-box;
	background:#fff;
	font-family: Montserrat, helvetica, arial;
}