modal-jiraContentStory{
	display:block;
	margin-bottom:10px;
	font-size:18px;
	color:#666;
	input{
		font-family:$font-family-sans-serif;
		display:inline;
		outline:0;
		font-size:16px;
		border:none;
		border-bottom:1px dashed #666;
		&[name=reason]{
			width:100%;
		}
	}
}
.points{
	margin-bottom:10px;
	input{
		width:150px;
		display:inline-block;
	}
}
div-jira{display:block;}