<div class="sidebar__background"></div>
<div class="sidebar__content">
	<div class="close-link icon-close"></div>
	<div class="sidebar__menu">
		<div class="sidebar__link icon-story btn-navigate" href="/story">
			<span class="sidebar__link__content">Add Story or bug</span>
		</div>
		<div class="sidebar__link icon-backlog" href="settings">
			<span class="sidebar__link__content">Backlog</span>
		</div>
		<div class="sidebar__link icon-intelligence" href="settings">
			<span class="sidebar__link__content">Intelligence</span>
		</div>
		<div class="sidebar__link icon-profile" href="settings">
			<span class="sidebar__link__content">Profile</span>
		</div>
	</div>
	<div class="sidebar__container hidden">
		<LoginForm component class="" initVars='user' />
	</div>
</div>
