<jiraContentSection>
	<form type="post" action="" class="storyForm">

		<textarea class="text-story" placeholder="Description" name="description">
			As a 
			{persona}
			I want 
			{action}
			so that
			{reason}
		</textarea>
		
		<div-jira class="points">
			<input name="business" class="jira-input" placeholder="Business Value">
			<input name="storypoints" class="jira-input" placeholder="Story points">
		</div-jira>

		<textarea class="text-writter" placeholder="Description" name="description"></textarea>

		<contentFooter>
			<button-jira class="btnJira-default btn-jira-cancel">Cancel</button-jira>
			<button-jira class="btnJira-primary btn-jira-add-story btn-submit">Save</button-jira>
		</contentFooter>
	</form>
<jiraContentSection>