<jira-sidebar__background></jira-sidebar__background>
<jira-sidebar__content>
	<jira-close-link class="icon-close"></jira-close-link>
	<jira-sidebar__menu>
		<jira-sidebar__link class="icon-story" href="settings"><span>Add Story or bug</span></jira-sidebar__link>
		<jira-sidebar__link class="icon-backlog" href="settings"><span>Backlog</span></jira-sidebar__link>
		<jira-sidebar__link class="icon-intelligence" href="settings"><span>Intelligence</span></jira-sidebar__link>
		<jira-sidebar__link class="icon-profile" href="settings"><span>Profile</span></jira-sidebar__link>
	</jira-sidebar__menu>
	<jira-sidebar__container class="jira-hidden">
		<jira-auth-form component="LoginForm" class="text-align:center;" name="LoginForm" initVars='user'></jira-auth-form>
	</jira-sidebar__container>
</jira-sidebar__content>
