<modal-jiraHeader>
	Testing Connection
</modal-JiraHeader>
<form type="post" action="" class="authForm">
	<modal-jiraContent>
		<modal-content>
			<p-jira>
				<div id="loader-wrapper">
				    <div id="loader"></div>
				</div>
			</p-jira>
			<p-jira class="waitConnection">Please wait while we connect to your account</p-jira>
			<p-jira class="showConnected success">Account Connected!</p-jira>
			<p-jira class="showError error">Error while connection</p-jira>
		</modal-content>
	</modal-jiraContent>
	<modal-jiraFooter>
		<button-jira class="btnJira-default btn-jira-cancel">Close</button-jira>
	</modal-jiraFooter>
</form>
